src/*.exe
src/versiond
src/test_version
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.version
#compilation and Qt preprocessor part
*.qm
version-qt
#qt creator
*.pro.user
#mac specific
.DS_Store
build
*.plist
*.xcodeproj
PortIndex*
dist
*.app
*.dmg
